
.persons-position {
  .person-cubes {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 850px;

    .person-cube {
      border: 1px black solid;
      min-width: 250px;
      height: 250px;
      margin: 0 15px;
      background: rgb(85,202,196);
      background: linear-gradient(90deg, rgba(85,202,196,1) 0%, rgba(107,210,206,1) 66%, rgba(146,221,217,1) 100%);
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}
